<launch>
  <arg name="model" default="$(optenv TURTLEBOT3_MODEL burger)"/> <!--mandatory argument-->
  <arg name="x_pos" default="-0.5"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="yaw_pos" default="0.0"/>

  <include file="$(find io_gazebo_turtlebot_bringup)/launch/sim.launch">
    <arg name="load_common_param" value="true"/>
    <arg name="model" value="$(arg model)"/>
    <arg name="x_pos" value="$(arg x_pos)"/>
    <arg name="y_pos" value="$(arg y_pos)"/>
    <arg name="yaw_pos" value="$(arg yaw_pos)"/>
  </include>

  <include file="$(find io_gazebo_turtlebot_bringup)/launch/app.launch">
    <arg name="load_common_param" value="false"/>
    <arg name="model" value="$(arg model)"/>
    <arg name="x_pos" value="$(arg x_pos)"/>
    <arg name="y_pos" value="$(arg y_pos)"/>
    <arg name="yaw_pos" value="$(arg yaw_pos)"/>
  </include>
</launch>
