<launch>
  <arg name="model" default="$(optenv TURTLEBOT3_MODEL burger)" doc="turtlebot3 model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="-0.5"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="yaw_pos" default="0.0"/>

  <node pkg="io_gazebo_turtlebot_demo_app" type="demo_app.py" name="demo_app" output="screen">
  	 <rosparam subst_value="True">
       init_x: "$(arg x_pos)"
       init_y: "$(arg y_pos)"
       init_yaw: "$(arg yaw_pos)"
     </rosparam>
     <rosparam command="load" file="$(find io_gazebo_turtlebot_demo_app)/config/locations.yaml" />
  </node>

</launch>
