<launch>
    <node name="$(anon slow)" pkg="latching" type="talker.py" output="screen">
        <rosparam>
            topic_name: /map
            topic_rate: 0.017
            latched: true
        </rosparam>
    </node>
    <node name="$(anon fast)" pkg="latching" type="talker.py" output="screen">
        <rosparam>
            topic_name: /coordinates
            topic_rate: 1000
            latched: false
        </rosparam>
    </node>
</launch>

