<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- C++ Wrapper -->
    <node ns="gopigo" pkg="simon_says" type="gopigo_node" name="gopigo_node" output="screen"/>

    <!-- Python Node -->
    <include file="$(find gopigo_control)/launch/gopigo_control.launch">
        <arg name="teleop"      value="false" />
        <arg name="self_driven" value="false" />
        <arg name="controller"  value="false" />
    </include>
</launch>
