<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="central_node" type="central_node" name="central_node" output="screen">
        <rosparam file="$(find central_node)/config/config.yaml"/>
    </node>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
</launch>
